# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Environment-dependent path to Maven home directory
/mavenHomeManager.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Виключення тимчасових конфігів
!.mvn/wrapper/maven-wrapper.jar
.mvn/
.gradle/
**/build/

# Виключення кешу
**/.classpath
**/.project
**/.settings/
**/.vscode/

# OS-специфічні
.DS_Store
Thumbs.db

# Інші
*.swp
*.swo
*.bak

# Якщо використовуєш dotenv
.env